.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 1200px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    z-index: -1;
}

@media only screen and (max-width:980px) {
    .contact-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width:480px) {
    .contact-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}