/*! Formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contact-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 1200px;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    z-index: -1;
}
@media only screen and (max-width:980px) {
    .contact-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width:480px) {
    .contact-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
/*! Preguntas  */
.custom-bg-color1 {
    background-color: #56A273;
}
.custom-bg-color2 {
    background-color: #2F4858;
}
.custom-bg-color3 {
    background-color: #49817B;
}
.custom-bg-color4 {
    background-color: #56A273;
}
.custom-bg-color5 {
    background-color: #2F4858;
}
.custom-bg-color6 {
    background-color: #49817B;
}
.accordion-button.collapsed.custom-bg-color1.text-white {
    font-weight: bold;
}
.accordion-button.collapsed.custom-bg-color2.text-white {
    font-weight: bold;
}
.accordion-button.collapsed.custom-bg-color3.text-white {
    font-weight: bold;
}
.accordion-button.collapsed.custom-bg-color4.text-white {
    font-weight: bold;
}
.accordion-button.collapsed.custom-bg-color5.text-white {
    font-weight: bold;
}
.accordion-button.collapsed.custom-bg-color6.text-white {
    font-weight: bold;
}